<h1>Patient</h1>

<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>

<h4>Patient Information</h4>
<p>Name: <%= @patient.name %></p>
<p>Age: <%= @patient.age %></p>
<br>

<h4>Patient Insurance Cards</h4>
<p><%= @patient.insurance_card.name %></p>